.loginAndSignupFormControl {
    text-align: center;
}

#loginAndSignupContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #f5f5f5;
}

h6 {
    color: #f5f5f5;
    text-align: center;
    padding-top: 10%;
}