#beersPage {
    margin-top: 1%;
    background-color: #a0a6b2;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 3px;
}

#beersH1 {
    color: #f5f5f5;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.beerCard {
    opacity: 1;
    transition: 0.3s;
}

.beerCard:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

#beerSearch {
    margin-bottom: 7%;
}

#searchInputGroup {
    text-align:left;
}

#beerCardsList {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.beerItem {
    display: inline-flex;
    margin: 10px;
}
