#beerInfo {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(163, 163, 163, 0.2);
}

#beerInfo > h1 {
    color: #f5f5f5;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#header2 {
    color: #f5f5f5;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#header4 {
   color: #f5f5f5;
}
