#add-beer-container {
    margin-top: 1%;
    padding-bottom: 40px;
    margin-bottom: 100px;
    background-color:rgba(163, 163, 163, 0.2);
}

#add-beer-container > h1 {
    color: #f5f5f5;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
  }

.form-group {
    color: white;
    text-align: center;
}

.form-control {
    border-color: grey;
}

#buttons {
    text-align: center;
    margin:auto;
}

#previewimage {
    width:250px;
    height:250px;
}

#description {
    text-align: center;
}

#alcoholPercent {
    text-align: center;
}

#beerName {
    text-align: center;
}